extends ../layout

block title
  title Выбор отеля

block content
  section.main__filter.filter
    h2.filter__title.visually-hidden Фильтрация отелей в Седоне
    form.filter-form(action="https://echo.htmlacademy.ru" method="POST")
      fieldset.filter-form__fieldset
        legend.filter-form__legend Инфраструктура:
        input.filter-form__input.visually-hidden(type="checkbox" id="checkbox-pool" name="pool")
        label.filter-form__label(for="checkbox-pool") Бассейн
        input.filter-form__input.visually-hidden(type="checkbox" id="checkbox-parking" name="parking")
        label.filter-form__label(for="checkbox-parking") Парковка
        input.filter-form__input.visually-hidden(type="checkbox" id="checkbox-wifi" name="wifi")
        label.filter-form__label(for="checkbox-wifi") Wi-fi
      fieldset.filter-form__fieldset
        legend.filter-form__legend Тип жилья:
        input.filter-form__input.visually-hidden(type="checkbox" id="checkbox-hotel" name="hotel")
        label.filter-form__label(for="checkbox-hotel") Гостница
        input.filter-form__input.visually-hidden(type="checkbox" id="checkbox-motel" name="motel")
        label.filter-form__label(for="checkbox-motel") Мотель
        input.filter-form__input.visually-hidden(type="checkbox" id="checkbox-apartments" name="apartments")
        label.filter-form__label(for="checkbox-apartments") Апартаменты
      fieldset.filter-form__fieldset
        legend.filter-form__legend Стоимость в сутки (Р):
        .filter-form__range
          .filter-form__range-wrapper
            label.filter-form__range-label(for="range-begin") От
            input.filter-form__range-input(type="text" id="range-begin" name="range-begin" value="0" maxlength="4")
          .filter-form__range-wrapper
            label.filter-form__range-label.filter-form__range-label--end(for="range-end") До
            input.filter-form__range-input(type="text" id="range-end" name="range-end" value="3000" maxlength="4")
        .filter-form__switchers-wrapper
          span.filter-form__switch.filter-form__switch--left Начальная цена
          span.filter-form__switch-line Диапазон цены
          span.filter-form__switch.filter-form__switch--right Конечная цена
          button.filter-form__submit(type="submit" value="Показать") Показать
  section.main__sort.sort
    h2.sort__title.visually-hidden Сортировка найденных отелей
    .sort__result-wrapper
      span.sort__result-text Найдено:
      span.sort__result-value 3
    .sort__options-wrapper
      h3.sort__options-title Сортировка:
      ul.sort__list.sort-list
        li.sort-list__item
          a.sort-list__link.sort-list__link--current(href="sort-price.html") По цене
        li.sort-list__item
          a.sort-list__link(href="sort-type.html") По типу
        li.sort-list__item
          a.sort-list__link(href="sort-rating.html") По рейтингу
        li.sort-list__item.sort-list__item--margin
          a.sort-list__link.sort-list__link--arrow(href="sort-up.html") Сортировка по возрастанию
            svg.sort-list__icon.sort-list__icon--arrow-up(width="10", height="10")
              use(xlink:href="img/sprite.svg#icon-arrow")
        li.sort-list__item
          a.sort-list__link.sort-list__link--arrow(href="sort-down.html") Сортировка по убыванию
            svg.sort-list__icon.sort-list__icon--current.sort-list__icon--arrow-down(width="10", height="10")
              use(xlink:href="img/sprite.svg#icon-arrow")
  section.main__hotels.hotels
    h2.hotels__title.visually-hidden Найденные отели
    ul.hotels__list.hotels-list
      li.hotels-list__item.hotel
        picture.hotel__img
          source(srcset="img/hotel-amara.webp, img/hotel-amara@2x.webp 2x", type="image/webp")
          img(src="img/hotel-amara.jpg", srcset="img/hotel-amara@2x.jpg 2x", alt="Amara Resort & Spa", width="135", height="90")
        .hotel__wrapper
          .hotel__descr-wrapper
            h4.hotel__name
              a.hotel__name-link(href="hotel-amara.html") Amara Resort & Spa
            p.hotel__type Гостиница
            p.hotel__price От 4000 р.
            .hotel__options-wrapper
              a.hotel__btn-about(href="hotel-about.html") Подробнее
              a.hotel__btn-booking(href="hotel-booking.html") Забронировать
          .hotel__raiting-wrapper
            .hotel__raiting-stars
              img.hotel__star-img(src="img/star.svg", alt="Иконка звезды отелю", width="18", height="18")
              img.hotel__star-img(src="img/star.svg", alt="Иконка звезды отелю", width="18", height="18")
              img.hotel__star-img(src="img/star.svg", alt="Иконка звезды отелю", width="18", height="18")
              img.hotel__star-img(src="img/star.svg", alt="Иконка звезды отелю", width="18", height="18")
            .hotel__raiting-text
              span.hotel__raiting-descr Рейтинг:
              span.hotel__raiting-value 8,5
      li.hotels-list__item.hotel
        picture.hotel__img
          source(srcset="img/hotel-desert.webp, img/hotel-desert@2x.webp 2x", type="image/webp")
          img(src="img/hotel-desert.jpg", srcset="img/hotel-desert@2x.jpg 2x", alt="Desert Quail Inn", width="135", height="90")
        .hotel__wrapper
          .hotel__descr-wrapper
            h4.hotel__name
              a.hotel__name-link(href="hotel-desert.html") Desert Quail Inn
            p.hotel__type Мотель
            p.hotel__price От 3000 р.
            .hotel__options-wrapper
              a.hotel__btn-about(href="hotel-about.html") Подробнее
              a.hotel__btn-booking(href="hotel-booking.html") Забронировать
          .hotel__raiting-wrapper
            .hotel__raiting-stars
              img.hotel__star-img(src="img/star.svg", alt="Иконка звезды отелю", width="18", height="18")
              img.hotel__star-img(src="img/star.svg", alt="Иконка звезды отелю", width="18", height="18")
              img.hotel__star-img(src="img/star.svg", alt="Иконка звезды отелю", width="18", height="18")
            .hotel__raiting-text
              span.hotel__raiting-descr Рейтинг:
              span.hotel__raiting-value 8,9
      li.hotels-list__item.hotel
        picture.hotel__img
          source(srcset="img/hotel-villas.webp, img/hotel-villas@2x.webp 2x", type="image/webp")
          img(src="img/hotel-villas.jpg", srcset="img/hotel-villas@2x.jpg 2x", alt="Villas at Poco Diablo", width="135", height="90")
        .hotel__wrapper
          .hotel__descr-wrapper
            h4.hotel__name
              a.hotel__name-link(href="hotel-villas.html") Villas at Poco Diablo
            p.hotel__type Апартаменты
            p.hotel__price От 2000 р.
            .hotel__options-wrapper
              a.hotel__btn-about(href="hotel-about.html") Подробнее
              a.hotel__btn-booking(href="hotel-booking.html") Забронировать
          .hotel__raiting-wrapper
            .hotel__raiting-stars
              img.hotel__star-img(src="img/star.svg", alt="Иконка звезды отелю", width="18", height="18")
              img.hotel__star-img(src="img/star.svg", alt="Иконка звезды отелю", width="18", height="18")
            .hotel__raiting-text
              span.hotel__raiting-descr Рейтинг:
              span.hotel__raiting-value 9,2
