.footer {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  margin-top: -120px;
  padding-top: 32px;
  padding-left: 60px;
  padding-right: 31px;
  background-color: rgba(#fdfdfd, 0.9);

  @media (min-width: $lg) {
    padding-left: 132px;
    padding-right: 103px;
  }
}

.footer__text-hashtag {
  margin: 0;
  margin-top: 17px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.footer__link-production {
  display: flex;
  width: calc(115px + 80px);
  height: 41px;
  margin-top: 3px;
  padding-top: 9px;
  color: $main-color;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;

  span {
    font-size: 0;
    margin-top: -5px;
    margin-left: 6px;
  }
}

.footer__icon-htmlacademy {
  fill: $main-color;

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: #bdbbbc;
  }
}
