.main {
  text-align: center;
}

.main__description {
  max-width: 545px;
  margin: 0 auto;
  margin-top: 31px;
  padding: 0;
  color: $color-text;
  text-transform: uppercase;
}

.main__advantages {
  margin-top: 50px;
}

.main__offer {
  margin-top: 55px;
}
