.socials {
  display: flex;
  margin: 0;
  margin-left: 32px;
  padding: 0;
  list-style: none;
}


.socials__link {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  font-size: 0;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.socials__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;

  &:active {
    opacity: 0.3;
  }
}
