.socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__link {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  font-size: 0;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &--tw {
    background-image: url("../../img/icon-twitter.svg");
  }

  &--fb {
    background-image: url("../../img/icon-facebook.svg");
  }

  &--youtube {
    background-image: url("../../img/icon-youtube.svg");
  }
}
