.sort {
  display: flex;
  max-width: 1200px;
  min-height: 85px;
  margin: 0 auto;
  padding: 0 46px;
  border-bottom: 1px solid #e5e5e5;
}

.sort__result-wrapper {
  padding-top: 30px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.sort__result-value {
  margin-left: 5px;
}

.sort__options-wrapper {
  display: flex;
  width: 90%;
  margin-left: 50px;
  padding-top: 38px;
}

.sort__options-title {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
