.sort-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-list__item {
  margin-left: 33px;

  &:first-child {
    margin-left: 40px;
  }

  &:last-child {
    margin-left: 12px;
  }

  &--margin {
    margin-left: auto;
  }
}

.sort-list__link {
  display: inline-block;
  color: $main-color;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.3;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;

  &:hover {
    color: #81b3d2;
    opacity: 1;
  }

  &:active {
    color: #000000;
  }

  &--current {
    color: #81b3d2;
    opacity: 1;
    border-bottom: none;
  }

  &--arrow {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-bottom: none;
    opacity: 1;
  }
}

.sort-list__icon {
  fill: #cacaca;

  &--arrow-up {
    margin-left: auto;
  }

  &--arrow-down {
    transform: rotate(180deg);
  }

  &--current {
    fill: #81b3d2;
  }
}
