footer.footer
  p.footer__text-hashtag #visitsedona
  ul.footer__socials-list.socials
    li.socials__item
      a.socials__link.socials__link--tw(href="https://twitter.com") Наш аккаунт в Twitter
        svg(width="17", height="15" class="socials__icon")
          use(xlink:href="img/sprite.svg#icon-twitter")
    li.socials__item
      a.socials__link.socials__link--fb(href="https://facebook.com") Наша страница в Facebook
        svg(width="12", height="22" class="socials__icon")
          use(xlink:href="img/sprite.svg#icon-facebook")
    li.socials__item
      a.socials__link.socials__link--youtube(href="https://youtube.com") Наш канал на Youtube
        svg(width="20", height="16" class="socials__icon")
          use(xlink:href="img/sprite.svg#icon-youtube")
  a.footer__link-production(href="https://htmlacademy.ru/intensive/htmlcss") Website by
    span HTML Academy
      svg(width="115", height="41" class="footer__icon-htmlacademy")
        use(xlink:href="img/sprite.svg#icon-htmlacademy")
