footer.footer
  p.footer__text-hashtag #visitsedona
  ul.footer__socials-list.socials
    li.socials__item
      a.socials__link.socials__link--tw(href="https://twitter.com") Наш аккаунт в Twitter
    li.socials__item
      a.socials__link.socials__link--fb(href="https://facebook.com") Наша страница в Facebook
    li.socials__item
      a.socials__link.socials__link--youtube(href="https://youtube.com") Наш канал на Youtube
  a.footer__link-production(href="https://htmlacademy.ru/intensive/htmlcss") Website by
    span HTML Academy
