header.header
  h1.header__title
    a.header__logo(href="index.html") Sedona - городок в Аризоне
  nav.header__nav.nav
    ul.nav__list.nav-list.nav-list--left
      li.nav-list__item
        a(href="information.html").nav-list__link Информация
      li.nav-list__item
        a(href="media.html").nav-list__link Фото и видео
    ul.nav__list.nav-list.nav-list--right
      li.nav-list__item
        a(href="map.html").nav-list__link Карта штата
      li.nav-list__item.nav-list__item
          a(href="order.html").nav-list__link Гостиницы
